.pbc_main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url('/Assets/Protection-Plan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.pbc_main_container {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.pbc_overlay_container {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(339deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 45%, rgba(89, 89, 89, 0.8) 100%);

}

.pbc_overlay_container > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.pbc_overlay_container > span > h3 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
    color: #FFFFFF;
}

.pbc_overlay_container > span > p {
    font-size: 22;
    line-height: 1.2;
    font-weight: 500;
    color: #FFFFFF;
}

.pbc_content_contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 35px;
}