.activeCategoryPage {
    width: 100%;
}

.active-sale-view-more-button-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.active-sale-view-more-button {
    max-width: 280px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-gray);
    border: 1px solid var(--orange-outline);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.active-sale-view-more-button:hover {
    background-color: var(--orange-fill);
    color: #FFF;
}



.banner-1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;

}

.banner-1-content>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content_1_section {
    display: flex;
    box-sizing: border-box;
    padding: 35px 60px;
    width: 100%;
    gap: 5%;
}


.left_side_cont {
    width: 60%;
}


.right_side_cont {
    width: 40%;
}

.right_side_cont img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

/* .content_1_section{
    display: flex;
    box-sizing: border-box;
    margin: 35px 60px;
}

.left_side_cont,
.right_side_cont
{
    flex: 1;
}

.right_side_cont img{
    height: 500px;
    width: 100%;
    object-fit: contain;
} */

.section_1_ASP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    margin: 35px 60px;

}

.offer-head-and-grid-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.offer-grid-main-container {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: max-content;
    height: 35px;
}

.offer-single-col-outer-container {
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, inset rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    border-radius: 2px;
}

.offer-single-col-outer-container.active-offer-single-col {
    background-color: var(--orange-fill);
}

.offer-single-col-inner-container {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.offer-single-col-inner-container.active-single-inner-col {
    background-color: var(--text-gray);
}

.offer-dual-col-outer-container {
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, inset rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    border-radius: 2px;
}

.offer-dual-col-outer-container.active-offer-dual-col-outer {
    background-color: var(--orange-fill);
}

.offer-dual-col-grid-container {
    display: flex;
    width: max-content;
    gap: 1px;
    cursor: pointer;
}

.offer-dual-col-inner-container {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.offer-dual-col-inner-container.active-offer-dual-col-inner {
    background-color: var(--text-gray);
}

.active-sale-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    width: 100%;
    overflow: hidden;
    height: auto;
    padding: 0px 20px;
    gap: 15px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 5px;
    transition: transform 0.5s ease, grid-template-columns 0.5s ease-in-out;
}



.section_3_ASP {
    /* margin: 35px 60px; */
    padding: var(--global-padding);
}


/* @media (max-width: 2300px) {
    .active-sale-cards {
        grid-template-columns: repeat(5, 1fr);
    }
} */

@media (max-width: 2030px) {
    .active-sale-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1230px) {
    .active-sale-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* @media (max-width: 1000px) {
    .active-sale-cards {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section_1_ASP {
        margin: 25px 30px !important;
        gap: 15px !important;
    }

    .active-sale-cards {
        grid-template-columns: repeat(3, 1fr);
        padding: 5px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .section_1_ASP {
        margin: 15px !important;
        gap: 10px !important;
    }

    .active-sale-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 5px !important;
    }
}

@media (max-width: 480px) {
    .active-sale-cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 5px 10px;
        gap: 10px;
    }

    .section_1_ASP {
        margin: 15px 10px;
        gap: 10px;
    }

    .content_1_section {
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }

    .left_side_cont {
        /* width: 100%; */
        display: none;
    }

    .right_side_cont {
        width: 100%;
    }

    .banner-1-content {
        display: none;
    }

    .section_3_ASP {
        padding: 15px;
    }

    .offer-grid-main-container {
        display: flex;
    }

    .active-sale-cards.offer-cards-single-grid {
        grid-template-columns: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .active-sale-cards.offer-cards-dual-col {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}