/* Give border effect to product card */
.product-card {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px 4px 0px #00000026;
    cursor: pointer;
    z-index: 9;
    /* border: 1px solid var(--border-color); */
    transition: transform 0.3s ease-in-out;
}

.image-variation img {
    height: 40px;
    width: auto;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

/* Product Card Border Effect End */
.tag-and-heart {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 9;
    /* position: relative; */
    justify-content: space-between;
    padding: 0 2px;
}

.tag-and-heart h4 {
    font-size: 12px !important;
    line-height: 22px !important;
    font-weight: 600 !important;
    
    padding: 4px 8px !important;
    color: var(--text-white) !important;
    border-radius: 3px;
}

.stock-label.out{
    background-color: var(--primary-color) !important;
}

.stock-label.back{
    background-color: #FFC107 !important;
}

.wishlist-heart{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 0px;
}
/* .tag-and-heart img {
    width: auto;
    height: auto;
    object-fit: contain;
} */

.heart-icon-div {
    display: flex;
    justify-content: end;
    padding: 10px 0;
}

.product-tag-div {
    display: flex;
    align-items: center;
    padding: 0px 0 0 22px;
    width: 100%;
    justify-content: start;
}

.heart-icon-div .heart-icon {
    width: 23px;
    height: 20px;
    /* width: 50px;
    height: 50px; */
    cursor: pointer;
}

.product-main-image-container {
    /* display: flex;
    width: 100%;
    height: auto; */
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(89, 89, 89,0.2);
}

.product-card-product-image-inner-container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.product-card-data{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.product-card-data .product-main-img {
    width: 100%;
    height: 176px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.overlay-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
    bottom: 0;
    padding: 0 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Smooth slide and fade transition */
    visibility: hidden;
    /* Hide buttons by default */
}

.overlay-buttons .overlay-button {
    /* margin: 5px; */
    width: 50%;
    height: 36px;
    background-color: white;
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 5px 10px;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
}



.overlay-button svg {
    width: auto;
    height: 16px;
}

.overlay-buttons .overlay-button:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    color: var(--text-white);
}

/* Hover effect */
/* .product-card-data:hover .product-main-img {
    transform: scale(0.8); 
} */



.product-main-image-container:hover .overlay-buttons {
    transform: translateY(-0px);
    visibility: visible;
}

.product-card-product-image-inner-container:hover .overlay-buttons {
    transform: translateY(-0px);
    visibility: visible;
}

/* .product-card-data:hover .overlay-buttons {
    transform: translateY(-0px);
    visibility: visible;
} */

.product-tagging {
    margin-top: 10px;
}

/* .product-title {
    background-color: transparent !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
} */

.product-title{
    background-color: transparent !important;
    /* font-size: var(--sub-section-size) !important;a */
    font-weight: var(--sub-section-weight) !important;
    /* line-height: var(--sub-section-height) !important; */
    margin-bottom: 10px !important;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    /* height: 45px !important; */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.attr-var {
    font-size: 10px;
    color: var(--text-color);
    margin: 0;
    font-weight: 500;
}

.product-sku {
    background-color: transparent !important;
    /* font-size: var(--attribute-size);
    font-weight: var(--attribute-weight);
    line-height: var(--attribute-height); */
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.9;
}


.text-tag {
    /* padding: 5px 15px; */
    font-size: var(--attribute-size);
    font-weight: var(--attribute-weight);
    line-height: var(--attribute-height);
    display: inline-block;
}

.image-tag {
    height: 28px;
    width: auto;
}

.image-tag > img {
    width: auto;
    height: 100%;
}


.product-card-attr {
    margin: 10px 0 0 0;
    display: flex;
    align-items:center ;
    height: 45px;
}

.product-rating-stars-div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
    margin: 5px 0;
}

.product-rating-stars-div img {
    width: auto;
    height: 14px;
    object-fit: contain;
}

.product-rating-stars-div p {
    font-size: 12px;
    /* font-size: 26px; */
    line-height: 18px;
    font-weight: 300;
    margin-left: 5px;
}

.product-rating-stars-div i {
    color: #50BED3;
    font-size: 14px;
}

.product-low-price-addvetisement {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 10px;
}

.product-price-del {
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 600 !important;
    color: var(--text-color) !important;
    opacity: 0.5;
}

.product-price-tag {
    font-size: var(--section-size) !important;
    line-height: var(--section-height) !important;
    font-weight: var(--section-weight) !important;
    /* margin-top: 15px;
    margin-bottom: 10px; */
    color: var(--text-color) !important;
   
}

.product-del-price-with-sale-price {
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-color);
    opacity: 0.5;
    margin-left: 4px;
}

.category-product-price {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.product-financing-addvertisement-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 14px 0 10px 0;
}

.product-financing-addvertisement-div p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.product-financing-addvertisement-div a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--product-text-color);
}

.product-financing-addvertisement-div a:hover {
    color: var(--primary-color);
}

.variable-colors-variations-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.color-variation-div {
    display: flex;
    align-items: center;
    justify-content: start !important;
    gap: 10px;
    z-index: 9;
}

.color-variations {
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: start;
    gap: 10px;
}

.color-variation {
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
}

.product-delivery-time {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 10px;
}

/* Mobile-view-product */

.percent-label {
    display: none;
    background-color: var(--primary-color);
    padding: 3px 9px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    color: #fff;
}

.image_shimmer_loader {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




@media only screen and (max-width: 480px) {
    .stock-label {
        display: none;
    }

    .percent-label {
        display: flex;
    }

    .overlay-buttons {
        display: none;
    }

    .product-card-data:hover {
        transform: translate(0);
        visibility: visible;
    }

    .lazy-load {
        width: 100%;
        /* Adjust based on the parent container */
        height: 100%;
        /* Adjust based on the parent container */
        object-fit: cover;
        /* Ensures the image will cover the area without distorting the aspect ratio */
    }
}

@media only screen and (max-width: 480px) {
    .product-card {
        max-width: 100% !important;
        padding: 5px;
    }

    .tag-and-heart img {
        width: auto;
        height: 20px;
        object-fit: contain;
    }

    .product-title {
        background-color: transparent !important;
        font-size: 17px;
        font-weight: 600;
        line-height: 16px;
        /* margin-bottom: 7px; */
        cursor: pointer;
    }

    .product-card-data .product-main-img {
        height: auto;
    }

    .product-rating-stars-div img {
        width: auto;
        height: 10px;
        object-fit: contain;
    }

    .color-variations {
        gap: 5px;
    }

    .color-variation {
        padding: 8px;
    }

    /* .product-price-tag {
        font-size: 12px !important;
        line-height: 18px !important;
        font-weight: 600 !important;
        margin-top: 5px;
        margin-bottom: 5px;
    } */
}