.blogs-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: var(--global-padding);
    text-align: center;
    gap: 10px;
}

.blogs-main-container h3{
    font-size: 25px;
    font-weight: 600;
    line-height: var(--heading-line-height);
    /* color: var(--secondary-color); */
    color: var(--text-primary);
}

.blogs-main-container h3 span{
    color: var(--text-orange);
}

.blogs-main-para{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-primary);
}


.blogs-slider-main-container{
    /* display: flex; */
    width: 100%;
    height: auto;
}

 .mobile-view-blogs-main-container {
   width: 100%;
   height: auto;
}

/*
@media only screen and (max-width: 480px) {
    .blogs-main-container {
        display: none;
    }

    .mobile-view-blogs-main-container {
        display: flex;
    }
    
} */

.blog-cards-container{
    display: flex;
    width: 25%;
    padding: 0;
    height: auto;
    margin-top: 15px;
}

.slick-slider{
    margin-bottom: 25px;
    display: flex !important;
    width: 100%;
}

.blogs-slider-main-container .slick-track{
    display: flex !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 30px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev{
    display: none !important;
}

.blog-slider-arrow{
    background-color: #FFFFFF !important;
    border: 1px solid var(--text-primary) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 40px !important;
    height: 40px !important;
    top: 45% !important;
}

.blog-slider-arrow svg{
    width: auto !important;
    height: 25px !important;
    object-fit: contain !important;
}

.blog-slider-arrow-left{
    left: -5px !important;
}

.blog-slider-arrow-right{
    right: -5px !important;
}

.slick-dots {
    position: absolute;
    bottom: -35px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
} 

.blog-card-shimmer-container{
    display: flex;
    width: 100%;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    
    
}

@media only screen and (max-width: 480px){
    .blogs-main-container{
        padding: 15px 10px;
        gap: 0px;
    }
    .blogs-main-container h3{
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    /* .blogs-main-para{
        display: none;
    } */

    .blog-cards-container{
        margin-top: 15px;
    }

    .blog-para-and-see-more p{
        display: none;
    }
    .blog-slider-arrow{
        background-color: #FFFFFF !important;
        border: 1px solid var(--text-primary) !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 30px !important;
        height: 30px !important;
    }

    .blog-slider-arrow img{
        width: auto !important;
        height: 12px !important;
        object-fit: contain !important;
    }

    .blog-slider-arrow-left .slick-slider{
        left: 15px !important;
        top: 45% !important;
    }

    .blog-slider-arrow-right{
        right: 15px !important;
        top: 45% !important;
    }
}