.product-display-page-main-container{
    display: flex;
    width: 80%;
    padding-top: 20px;
    flex-direction: column;
    gap: 25px;
    margin: auto;
}
 
@media only screen and (max-width: 480px){
    .product-display-page-main-container{
        width: 100%;
        padding: 10px 10px;
        gap: 0;
    }
}


.design_room_main_modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.3);
}
