.product-display-page-main-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    /* padding: var(--global-padding); */
    /* padding: 24px; */
    /* padding: 35px 200px; */
    gap: 25px;
    /* max-width: 1440px; */
    margin: auto;
}
 
@media only screen and (max-width: 480px){
    .product-display-page-main-container{
        width: 100%;
        padding: 10px 10px;
        gap: 0;
    }
}