.chat-interface-container {
  width: 350px;
  height: 500px;
  background-color: #f8ca9f;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.chat-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.back-icon {
  width: 16px;
  height: 16px;
  color: #757575;
}

.downs-icon {
  width: 14px;
  height: 14px;
  color: #595959;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headers h1 {
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin: 0;
}

.online-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.online-status p {
  font-size: 10px;
  color: #757575;
  margin: 0;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.message-container {
  display: flex;
  gap: 8px;
  max-width: 100%;
}

.message-container.user {
  margin-left: auto;
  flex-direction: row-reverse;
}

.message-container.bot {
  margin-right: auto;
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-end;
}

.message {
  padding: 5px 10px 15px 10px;
  border-radius: 10px;
  position: relative;
  min-width: 120px;
}

.message.user {
  background-color: #f8ca9f;
  color: black;
}

.message.bot {
  background-color: #f0f0f0;
  color: #757575;
}

.message p {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
}

.message-time {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 9px;
}
.message-time.user {
  color: black;
}
.message-time.bot {
  color: #757575;
}

.chat-input-container {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #eee;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #0000001a;
}

.chat-input-container input {
  flex: 1;
  border: none;
  background: #716ef133;
  border-radius: 15px;
  font-size: 12px;
  outline: none;
  padding: 10px;
  height: 18px;
}

.attachment-btn {
  width: 38px;
  height: 38px;
  border-radius: 15px;
  background: none;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attachment-icon {
  height: 18px;
  width: 18px;
}
.send-btn {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  background: #f8ca9f;
  border: 1px solid #963a0b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-icon {
  height: 18px;
  width: 18px;
  color: white;
}

.powered-by {
  font-size: 11px;
  color: #999;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.powered-by strong {
  color: #595959;
}