.category-besst-seller-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--global-padding);
}

.blurred {
    filter: blur(4px);
    pointer-events: none; /* Prevent interactions while loading */
}

.category-best-seller-and-banner-container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: stretch;
}

.category-best-seller-cards-section{
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
    align-items: stretch;
    gap: 20px;
}

.category-best-seller-menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.category-best-seller-menu h3{
    font-size: 25px;
    line-height: var(--heading-line-height);
    font-weight: 600;
}

.category-best-seller-menu-items{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category-best-seller-menu-items p{
    color: var(--text-primary);
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.category-best-seller-menu-items p.active{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border-bottom: 3px solid var(--primary-color);
}

/* Best Seller Product Cards */
.category-products-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    gap: 20px;
}

.category-product-card{
    box-shadow: 1px 1px 4px 0px #00000026;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-product-card:hover{
    transform: scale(1.02);
}


.category-product-image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.category-product-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.category-product-rating-section{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.category-product-rating-stars{
    color: #50BED3;
}

.category-product-rating-section p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.category-product-name{
    display: flex;
    width: 100%;
}

.category-product-name h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 2.375em;
}

.category-product-price-and-heart{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.category-product-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-product-price del{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
}

.category-product-price p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--text-primary);
}

.category-product-price-and-heart img{
    width: auto;
    height: 22px;
    object-fit: contain;
}

/* Best Seller Banner Section */
.category-best-seller-banners-section{
    
    display: flex;
    flex-direction: column;
    width: max-content;
    flex-shrink: 0;
    width: 30%;
    gap: 20px;
}

.category-best-seller-banners-section > img{
    
    width: 100%;
    height: 100%;
}

.category-best-seller-banners-section .banner_one{
    
    width: 100%;
    height: 100%;
}

.category-pagination-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.category-dot.category-dot-active-active {
    background-color: #333;
}

/* Mobile view */
.mobile-view-category-best-seller{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.mobile-view-category-best-seller-heading-section{
    padding: 0 10px;
    display: flex;
    width: 100%;
}

.mobile-view-category-best-seller-heading-section h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.mobile-view-category-best-seller-nav-and-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mobile-view-category-best-seller-nav-and-banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-view-category-best-seller-nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding: 20px;
}

.mobile-view-nav-link{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.mobile-view-nav-link.mobile-view-nav-active{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    font-weight: 600;
}

.mobile-view-category-best-seller-card-section{
    display: flex;
    width: 100%;
    top: -40px;
    position: relative;
}

.mobile-view-best-seller-slider{
    display: flex;
    width: 100%;
    padding: 0 25px;
    transition: all 0.5s ease-in-out;
}

.mobile-view-category-pagination-dots{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mobile-view-best-seller-slider-arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    z-index: 99999;
}

.mobile-view-best-seller-slider-arrows img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.mobile-view-best-seller-arrow-left{
    left: 10px;
}

.mobile-view-best-seller-arrow-right{
    right: 10px;
}

@media only screen and (max-width: 480px){
    .category-besst-seller-main-container{
        padding: 15px 0px;
    }
    .category-best-seller-and-banner-container{
        display: none;
    }
    .category-pagination-dots{
        display: none;
    }
    .mobile-view-category-best-seller{
        display: flex;
    }
    .mobile-view-category-pagination-dots{
        display: flex;
    }
}